:root {
    --navbarHeight: 80px;
    --textColorLight: #fff;
    --textColorDark: #000;
}

#navbar {
    height: var(--navbarHeight);
}

main {
    height: calc(100vh - var(--navbarHeight));
}

#aside {
    width: fit-content;
    background-image: url(/assets/img/sidebar-bg.png);
}

#aside a {
    color: var(--textColorLight);
    fill: var(--textColorLight);
}

#aside a:hover {
    background-color: #ffffff6d;
}

#main-topbar #add-btn:hover {
    background-color: var(--textColorLight);
    color: var(--textColorDark);
}