:root {
    --navbarHeight: 80px;
    --mainTopbarColor: #1B72E8;
    --textColorLight: #fff;
    --textColorDark: #000;
}

#navbar {
    height: var(--navbarHeight);
}

/* #search-bar {
    height: 50px;
} */

main {
    height: calc(100vh - var(--navbarHeight));
}

#aside {
    width: fit-content;
    background-image: url(/assets/img/sidebar-bg.png);
}

#aside a {
    color: var(--textColorLight);
    fill: var(--textColorLight);
}

#main-topbar {
    background-color: var(--mainTopbarColor);
    /* width: calc(100% - var(--sidebarWidthMobile)); */
}